body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
a {
  text-decoration-line: none;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
}
.container-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}
.text-1 {
  width: 300px;
}

.text-1 h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
}

.text-1 p {
  font-size: 18px;
  color: #e5e7eb;
}
.button-1 {
  color: #3882f6;
}
